.about__backcloud {
  position: absolute;
  right: 650px;
  padding-top: 50px;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: left;
}

.about__background {
  height: auto;
}

.about__background h2 {
    padding: 2rem;
}

@keyframes about__backcloud {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.about__container {
  display: grid;
  grid-template-rows: 40% 50%;
  gap: 5%;
  position: relative;
  padding: 0rem 2rem;
  justify-items: center;
  align-items: center;
  grid-auto-rows: auto;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
  width: 250px;
  height: auto;
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: #a2a3a2;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  cursor: default;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: left;
}

@keyframes about__card {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-black);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: black;
  font-size: 1.25rem;
  text-align: center;
  background-color: rgba(52, 48, 50, 0.2);
  border-radius: 2rem;
  padding: 2rem;
}

.about__content a {
  right: 10px;
  position: absolute;
  bottom: 20px;
}


/* media queries */

@media screen and  (min-width: 1000px) {
  .about__container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    position: relative;
    padding: 3rem 2rem;
    align-items: baseline;
  }

  .about__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    width: 350px;
    height: auto;
    margin-left: 5rem;
    margin-bottom: 2rem;
  }

  .about__content a {
    right: 6rem;
    position: absolute;
    bottom: 8rem;
  }

  .about__content p {
    margin: 2rem 0 2.6rem;
    color: black;
    font-size: 1.25rem;
    text-align: center;
    background-color: rgba(52, 48, 50, 0.2);
    border-radius: 2rem;
    padding: 2rem;
    margin-right: 4rem;
    margin-top: 4rem;
  }


}

@media screen and (max-width: 999px) and (min-width: 400px) {
  .about__content p {
    margin: 2rem 0 2.6rem;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(52, 48, 50, 0.2);
    border-radius: 2rem;
    padding: 2rem;
  }

  .about__container {
    display: grid;
    grid-template-rows: 40% 50%;
    gap: 5%;
    position: relative;
    padding: 3rem 2rem;
    justify-items: center;
    align-items: center;
    grid-auto-rows: auto;
  }

  .about__content a {
    right: 5rem;
    position: absolute;
    bottom: 6rem;
  }
}
